html{
          scroll-behavior: smooth;
}

* {
          box-sizing: border-box;
          padding: 0;
          margin: 0;
}

body{
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(1%2c 19%2c 37%2c 1)'%3e%3c/rect%3e%3cpath d='M731.064%2c362.969C780.184%2c359.967%2c822.015%2c329.95%2c845.927%2c286.938C869.121%2c245.217%2c870.744%2c195.088%2c847.604%2c153.337C823.728%2c110.259%2c780.282%2c81.533%2c731.064%2c79.694C678.424%2c77.727%2c626.699%2c99.598%2c598.392%2c144.023C567.888%2c191.897%2c559.59%2c254.089%2c589.008%2c302.637C617.583%2c349.794%2c676.028%2c366.332%2c731.064%2c362.969' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M116.364%2c292.506C165.089%2c293.091%2c212.247%2c268.499%2c235.16%2c225.493C256.937%2c184.618%2c244.014%2c136.686%2c220.703%2c96.666C197.584%2c56.976%2c162.221%2c24.175%2c116.364%2c21.549C65.878%2c18.658%2c13.974%2c39.401%2c-10.952%2c83.4C-35.595%2c126.9%2c-23.589%2c179.994%2c2.411%2c222.697C27.24%2c263.477%2c68.623%2c291.933%2c116.364%2c292.506' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M111.3541391953298 241.3214380944258L19.02062595401958 343.8681934383719 121.5673812979657 436.2017066796821 213.9008945392759 333.654951335736z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1332.7802279451566 94.71203510488559L1246.8642772922117-60.633407442522575 1164.6306634529897 70.96788423221247z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M364.6603452356779 113.602532767255L335.21070478917903 209.92796633510216 431.5361383570262 239.377606781601 460.985778803525 143.05217321375383z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
          font-family: monospace;
         
 
}

body *::selection{
          background-color: crimson;
}

.container{
          width: 100%;
          min-height: 100vh;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          
}

.header{
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 80%;
          position: absolute;
          top: 0;
          padding-top: 60px;
}

.ul-nav{
          display: flex;
          justify-content: center;
          
}

.ul-nav li {
          font-size: 20px;
          list-style: none;
          color: white;
          font-weight: 600;
          cursor: pointer;
          margin-right: 50px;
          line-height: 30px;
          
}

.ul-nav li:last-child{
          margin-right: 0;
}

.ul-nav li::after{
          content: "";
          display: block;
          background-color: white;
          width: 0;
          height: 4px;
          transition: width .5s;
}

.ul-nav li:hover::after{
          width: 100%;
}

.main {
          width: 80%;   
         
}

.content img{
          width: 350px;
          border-radius: 20px;
          transition: .5s;
}

.content img:hover{
          transform: scale(.9);
}

.content{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          grid-gap: 15px;
          color: white;
          
}

.content h2{
          font-size: 30px;
          line-height: 80px;
}

.content p {
          text-align: justify;
          font-size: 22px;
          line-height: 32px;
}

.portafolio p {
          font-size: 20px;
          color: white;
          line-height: 30px;
}


.portafolio p::after{
          content: "";
          background-color: white;
          display: block;
          width: 50%;
          height: 4px;
          transition: width .5s;
}

.portafolio p:hover::after{
          width: 100%;
}



